.SearchForm-wrapper{
  display: flex;
  justify-content: center;

}
.ItemList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.ItemList-item{
  margin-bottom: 24px;
  width: 48%;
}